<div *ngIf="!isGuest && !inFolderNo && expandUploadPanel">

    <!-- upload param start -->
    <ng-container *ngIf="uploadParam.files != null && uploadParam.files.length > 0">
        <mat-form-field style="width: 100%;" class="mt-1 mb-1">
            <mat-label>{{filenameLabel}}</mat-label>
            <input matInput type="text" id="filenameInput" [(ngModel)]="displayedUploadName"
                [disabled]="isFileNameInputDisabled()">
            <button *ngIf="displayedUploadName" matSuffix aria-label="Clear" (click)="displayedUploadName=''"
                class="btn-close" [disabled]="isFileNameInputDisabled()">
            </button>
        </mat-form-field>
    </ng-container>

    <div class="input-group input-group-lg mt-1 mb-1">
        <input type="file" class="form-control" #uploadFileInput (change)="onFileSelected($event.target.files)"
            aria-describedby="basic-addon1" multiple [disabled]="isUploading">
    </div>

    <div class="mt-3 mb-2">
        <div class="row row-cols-lg-auto g-3 align-items-center">
            <div class="col">
                <mat-form-field>
                    <mat-label>{{withTagsLabel}}:</mat-label>
                    <mat-select [(value)]="selectedTags" [disabled]="isUploading" multiple>
                        <mat-option [value]="t" *ngFor="let t of tags">
                            {{t}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="col">
                <mat-form-field>
                    <mat-label>{{userGroupLabel}}</mat-label>
                    <mat-select [(value)]="uploadParam.userGroup" [disabled]="isUploading">
                        <mat-option [value]="option.value" *ngFor="let option of userGroupOpts">
                            {{option.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="col">
                <mat-form-field class="mb-1">
                    <mat-label>{{uploadToDirLabel}}:</mat-label>
                    <input matInput type="text" [(ngModel)]="uploadDirName" (ngModelChange)="onUploadDirNameChanged()"
                        [matAutocomplete]="auto0" [disabled]="isUploading || isCompressed || inDirFileName">
                    <mat-autocomplete #auto0="matAutocomplete">
                        <mat-option *ngFor="let option of autoCompUploadDirs" [value]="option">
                            {{option}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>

            <div class="col">
                <button class="ml-2 mr-2" mat-raised-button (click)="upload()" [disabled]="isUploading"
                    *ngIf="!isUploading">
                    {{uploadLabel}}
                </button>
                <button class="ml-2 mr-2" *ngIf="isUploading" mat-raised-button (click)="cancelFileUpload()">
                    {{cancelLabel}}
                </button>
            </div>
            <div class="col">
                <small style="color: cadetblue;" *ngIf="progress != null">{{progressLabel}}: {{progress}}</small>
            </div>
            <div class="col">
                <section *ngIf="this.uploadParam.files && this.uploadParam.files.length > 1"
                    [matTooltip]="isCompressed ? multiUploadTipLabel : singleUploadTipLabel" matTooltipPosition="below">
                    <mat-checkbox class="m-1" [disabled]="isUploading" [(ngModel)]="isCompressed"
                        (ngModelChange)="onIsCompressedChanged()">{{compressedLabel}}
                    </mat-checkbox>
                </section>
            </div>
            <div class="col">
                <section *ngIf="this.uploadParam.files && this.uploadParam.files.length > 0 && !isCompressed"
                    [matTooltip]="'Ignore files with duplicate name'" matTooltipPosition="below">
                    <mat-checkbox class="m-1" [disabled]="isUploading" [(ngModel)]="ignoreOnDupName"
                        (ngModelChange)="onIsCompressedChanged()">{{ignoreOnDupNameLabel}}
                    </mat-checkbox>
                </section>
            </div>
        </div>
    </div>
    <!-- upload param end -->
</div>


<div class="mt-3">
    <div class="mt-2 mb-2">
        <div *ngIf="inFolderName" class="m-2">
            <mat-card>Folder: '{{inFolderName}}'</mat-card>
        </div>
        <div *ngIf="inDirFileName" class="m-2">
            <mat-card>
                {{dirLabel}}: '{{inDirFileName}}'
            </mat-card>
        </div>

        <!-- search param start -->
        <div *ngIf="!isGuest && !inFolderNo && !makingDir">
            <div class="row row-cols-lg-auto g-3 align-items-center">
                <mat-form-field style="width: 90%;" class="mb-1 mt-3">
                    <mat-label>{{filenameLabel}}</mat-label>
                    <input matInput type="text" id="searchFilenameInput" [(ngModel)]="searchParam.name"
                        (keyup)="isEnterKeyPressed($event) && fetchFileInfoList()">
                    <button *ngIf="searchParam.name" matSuffix aria-label="Clear" (click)="searchParam.name=''"
                        class="btn-close">
                    </button>
                </mat-form-field>
            </div>
            <div class="row row-cols-lg-auto g-3 align-items-center">
                <div class="col">
                    <mat-form-field>
                        <mat-label>{{userGroupLabel}}</mat-label>
                        <mat-select (valueChange)="setSearchUserGroup($event)" [value]="searchParam.userGroup">
                            <mat-option [value]="option.value" *ngFor="let option of allUserGroupOpts">
                                {{option.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <ng-container *ngIf="!inDirFileName">
                    <div class="col">
                        <mat-form-field>
                            <mat-label>{{ownerLabel}}</mat-label>
                            <mat-select (valueChange)="setSearchOwnership($event)" [value]="searchParam.ownership">
                                <mat-option [value]="option.value" *ngFor="let option of fileOwnershipOpts">
                                    {{option.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </ng-container>
                <div class="col">
                    <mat-form-field>
                        <mat-label>{{fileTypeLabel}}</mat-label>
                        <mat-select (valueChange)="setSearchFileType($event)" [value]="searchParam.fileType">
                            <mat-option [value]="option.value" *ngFor="let option of allFileTypeOpts">
                                {{option.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field>
                        <mat-label>{{tagsLabel}}</mat-label>
                        <mat-select (valueChange)="setTag($event)" [value]="searchParam.tagName">
                            <mat-option [value]="t" *ngFor="let t of tags">
                                {{t}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <ng-container *ngIf="fantahseaEnabled">
                    <div class="col">
                        <mat-form-field>
                            <mat-label>{{fantahseaGalleryLabel}}</mat-label>
                            <input matInput type="text" [(ngModel)]="addToGalleryName"
                                (ngModelChange)="onAddToGalleryNameChanged()" [matAutocomplete]="auto2">
                            <mat-autocomplete #auto2="matAutocomplete">
                                <mat-option *ngFor="let option of autoCompAddToGalleryName" [value]="option">
                                    {{option}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </div>
                </ng-container>

                <div class="col">
                    <mat-form-field>
                        <mat-label>{{virtualFolderLabel}}</mat-label>
                        <input matInput type="text" [(ngModel)]="addToVFolderName"
                            (ngModelChange)="onAddToVFolderNameChanged()" [matAutocomplete]="auto1">
                        <mat-autocomplete #auto1="matAutocomplete">
                            <mat-option *ngFor="let option of autoCompAddToVFolderName" [value]="option">
                                {{option}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>

                <div class="col">
                    <mat-form-field style="width: 100%;" class="mb-1" *ngIf="!isMobile">
                        <mat-label>{{moveIntoDirLabel}}</mat-label>
                        <input matInput type="text" [(ngModel)]="moveIntoDirName"
                            (ngModelChange)="onMoveIntoDirNameChanged()" [matAutocomplete]="auto1">
                        <mat-autocomplete #auto1="matAutocomplete">
                            <mat-option *ngFor="let option of autoCompMoveIntoDirs" [value]="option">
                                {{option}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <!-- search param ned -->


        <!-- create directory  -->
        <div class="container bootstrap p-3 mt-3 mb-5 shadow" *ngIf="makingDir">
            <h4 class="mt-2 mb-2">{{newDirLabel}}</h4>

            <mat-form-field style="width: 100%;">
                <mat-label>{{dirNameLabel}}</mat-label>
                <input matInput type="text" (keyup)="isEnterKeyPressed($event) && mkdir()" [(ngModel)]="newDirName">
                <button *ngIf="newDirName" class="btn-close" matSuffix aria-label="Clear" (click)="newDirName=''">
                </button>
            </mat-form-field>

            <div class="justify-content-md-end d-md-flex">
                <button mat-raised-button class="mt-2" (click)="mkdir()">{{submitLabel}}</button>
            </div>
        </div>

        <div class="d-grid gap-2 d-md-flex justify-content-md-end mb-3">

            <ng-container *ngIf="addToGalleryName">
                <!-- transfer selected to fantahsea -->
                <button mat-raised-button class="m-2" *ngIf="anySelected"
                    (click)="transferSelectedToGallery()">{{hostOnFantahseaLabel}}</button>

                <!-- transfer dir to fantahsea -->
                <button mat-raised-button class="m-2" *ngIf="inDirFileName" (click)="transferDirToGallery()">Host
                    All Images On Fantahsea</button>
            </ng-container>

            <!-- add to vfolder -->
            <button mat-raised-button class="m-2" *ngIf="!inFolderName && anySelected"
                (click)="addToVirtualFolder()">{{addToVFolderLabel}}</button>

            <!-- move into dir -->
            <button mat-raised-button class="m-2" *ngIf="!inFolderName && anySelected"
                (click)="moveSelectedToDir(true)">{{moveIntoDirLabel}}</button>

            <!-- move out of dir -->
            <button mat-raised-button class="m-2" *ngIf="!inFolderName && inDirFileName && anySelected"
                (click)="moveSelectedToDir(false)">{{moveOutOfDirLabel}}</button>


            <ng-container *ngIf="!isGuest && !inFolderNo && !anySelected">
                <!-- toggale upload panel -->
                <button mat-raised-button class="m-2" [class.status-green]="expandUploadPanel"
                    (click)="doExpandUploadPanel()">{{uploadPanelLabel}}</button>

                <!-- make directory -->
                <button mat-raised-button class="m-2" (click)="makingDir=!makingDir"
                    [class.status-green]="makingDir">{{mkdirLabel}}</button>
            </ng-container>


            <!-- export as zip -->
            <button mat-raised-button class="m-2" *ngIf="!isGuest && anySelected"
                (click)="exportAsZip()">{{exportAsZipLabel}}</button>

            <!-- go back to previous dir -->
            <button mat-raised-button class="m-2" *ngIf="inDirFileKey" (click)="goPrevDir()">{{goPrevDirLabel}}</button>
            <!-- go back to folder list page -->
            <button mat-raised-button class="m-2" *ngIf="inFolderNo"
                (click)="leaveFolder()">{{leaveFolderLabel}}</button>

            <!-- Fetch  -->
            <button mat-raised-button class="m-2" (click)="fetchFileInfoList()">{{fetchLabel}}</button>
            <!-- Reset  -->
            <button mat-raised-button class="m-2" (click)="resetSearchParam()">{{resetLabel}}</button>
        </div>

        <!-- <div style="overflow: auto; max-height: 550px;" class="mat-elevation-z8 mb-2"> -->
        <div style="overflow: auto; max-height: 550px;" class="mb-2">
            <table mat-table [dataSource]="fileInfoList" style="width: 100%; height: 70%" multiTemplateDataRows>
                <ng-container matColumnDef="selected">
                    <th mat-header-cell *matHeaderCellDef> <span (click)="selectAllFiles()">{{selectedLabel}}</span>
                    </th>
                    <td mat-cell *matCellDef="let f">
                        <mat-checkbox [checked]="f._selected" (change)="selectFile($event, f)"
                            (click)="$event.stopPropagation();"></mat-checkbox>
                    </td>
                </ng-container>

                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> {{nameLabel}} </th>
                    <td mat-cell *matCellDef="let f"> <span class="pl-1 pr-1">{{f.name}}
                        </span></td>
                </ng-container>

                <ng-container matColumnDef="uploader">
                    <th mat-header-cell *matHeaderCellDef> {{uploaderLabel}} </th>
                    <td mat-cell *matCellDef="let f"> {{f.uploaderName}} </td>
                </ng-container>

                <ng-container matColumnDef="uploadTime">
                    <th mat-header-cell *matHeaderCellDef> {{uploadTimeLabel}} </th>
                    <td mat-cell *matCellDef="let f"> {{f.uploadTime | date: 'yyyy-MM-dd HH:mm:ss'}} </td>
                </ng-container>

                <ng-container matColumnDef="size">
                    <th mat-header-cell *matHeaderCellDef> {{fileSizeLabel}} </th>
                    <td mat-cell *matCellDef="let f"> {{f.sizeLabel}} </td>
                </ng-container>

                <ng-container matColumnDef="fileType">
                    <th mat-header-cell *matHeaderCellDef> {{fileTypeLabel}} </th>
                    <td mat-cell *matCellDef="let f"> {{f.fileTypeLabel}} </td>
                </ng-container>

                <ng-container matColumnDef="userGroup">
                    <th mat-header-cell *matHeaderCellDef> {{userGroupLabel}} </th>
                    <td mat-cell *matCellDef="let f">
                        <span *ngIf="f.userGroup === PUBLIC_GROUP" class="status-green">{{publicGroupLabel}}</span>
                        <span *ngIf="f.userGroup === PRIVATE_GROUP" class="status-blue">{{privateGroupLabel}}</span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="updateTime">
                    <th mat-header-cell *matHeaderCellDef> {{updateTimeLabel}} </th>
                    <td mat-cell *matCellDef="let f"> {{f.updateTime | date: 'yyyy-MM-dd HH:mm:ss'}} </td>
                </ng-container>


                <ng-container matColumnDef="operation">
                    <th mat-header-cell *matHeaderCellDef> {{operationLabel}} </th>
                    <td mat-cell *matCellDef="let f">
                        <!-- download / preview -->
                        <ng-container *ngIf="f.isFile">
                            <a class="m-2"
                                (click)="$event.stopPropagation() || jumpToDownloadUrl(f.uuid)"><small>{{downloadLabel}}</small></a>
                            <ng-container *ngIf="f.isDisplayable">
                                <a class="m-2"
                                    (click)="$event.stopPropagation() || preview(f)"><small>{{previewLabel}}</small></a>
                            </ng-container>
                        </ng-container>
                        <!-- Go into dir  -->
                        <ng-container *ngIf="f.isDir">
                            <a class="m-2"
                                (click)="$event.stopPropagation() || goToDir(f.name, f.uuid)"><small>{{goIntoLabel}}</small></a>
                        </ng-container>
                    </td>
                </ng-container>

                <ng-container matColumnDef="expandedElement">
                    <td mat-cell *matCellDef="let u" [attr.colspan]="displayedColumns.length">
                        <ng-container *ngIf="curr != null && !inFolderNo">
                            <div class="element-detail"
                                [@detailExpand]="(currId > -1 && u.id == currId) ? 'expanded' : 'collapsed'">
                                <div class="container-fluid m-4">

                                    <!-- first row start -->
                                    <div class="row row-cols-lg-auto g-3 align-items-center">
                                        <div class="col">
                                            <mat-form-field style="width: 100%;">
                                                <mat-label>Filename</mat-label>
                                                <input matInput type="text" [(ngModel)]="curr.name"
                                                    [disabled]="!curr.isOwner">
                                            </mat-form-field>
                                        </div>
                                        <ng-container *ngIf="curr.isFile">
                                            <div class="col">
                                                <button mat-raised-button (click)="popToManageTag(curr)">
                                                    Manage Tags
                                                </button>
                                            </div>
                                        </ng-container>

                                        <!-- duplicate Update button is just for the ordering positions -->
                                        <ng-container *ngIf="curr.isDirAndIsOwner">
                                            <div class="col">
                                                <button mat-raised-button (click)="update(curr)">
                                                    Update
                                                </button>
                                            </div>
                                        </ng-container>

                                        <ng-container *ngIf="curr.isOwner">
                                            <div class="col">
                                                <button mat-raised-button (click)="deleteFile(curr.uuid, curr.name)">
                                                    Delete
                                                </button>
                                            </div>
                                        </ng-container>
                                    </div>
                                    <!-- first row end -->

                                    <!-- second row start -->
                                    <div class="row row-cols-lg-auto g-3 align-items-center">
                                        <!-- isOwner and isFile start -->
                                        <ng-container *ngIf="curr.isFileAndIsOwner">
                                            <div class="col">
                                                <mat-form-field>
                                                    <mat-label>User Group</mat-label>
                                                    <mat-select [(value)]="curr.userGroup">
                                                        <mat-option [value]="option.value"
                                                            *ngFor="let option of userGroupOpts">
                                                            {{option.name}}
                                                        </mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                            <div class="col">
                                                <button mat-raised-button (click)="update(curr)">
                                                    Update
                                                </button>
                                            </div>
                                            <div class="col">
                                                <button mat-raised-button (click)="generateTempToken(curr)">
                                                    Share By Link
                                                </button>
                                            </div>
                                            <div class="col">
                                                <button mat-raised-button (click)="popToGrantAccess(curr)">
                                                    Grant Access
                                                </button>
                                            </div>
                                            <ng-container *ngIf="inDirFileName">
                                                <div class="col">
                                                    <button mat-raised-button
                                                        (click)="doMoveToDir(curr.uuid, '', false)">
                                                        {{moveOutOfDirLabel}}
                                                    </button>
                                                </div>
                                            </ng-container>
                                        </ng-container>
                                        <!-- isOwner and isFile end -->
                                    </div>
                                    <!-- second row end -->

                                    <!-- third row start -->
                                    <ng-container *ngIf="curr.isFileAndIsOwner && !inDirFileName">
                                        <div class="row row-cols-lg-auto g-3 align-items-center">
                                            <div class="col">
                                                <mat-form-field style="width: 100%;" class="mb-1" *ngIf="!isMobile">
                                                    <mat-label>Move Into Directory:</mat-label>
                                                    <input matInput type="text" [(ngModel)]="moveIntoDirName"
                                                        (ngModelChange)="onMoveIntoDirNameChanged()"
                                                        [matAutocomplete]="auto1">
                                                    <mat-autocomplete #auto1="matAutocomplete">
                                                        <mat-option *ngFor="let option of autoCompMoveIntoDirs"
                                                            [value]="option">
                                                            {{option}}
                                                        </mat-option>
                                                    </mat-autocomplete>
                                                </mat-form-field>
                                            </div>
                                            <div class="col">
                                                <button mat-raised-button
                                                    (click)="doMoveToDir(curr.uuid, moveIntoDirName, true)">
                                                    {{moveIntoDirLabel}}
                                                </button>
                                            </div>
                                        </div>
                                    </ng-container>
                                    <!-- third row end -->

                                </div>
                            </div>
                        </ng-container>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true">
                </tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns" class="element-row"
                    [class.expanded-row]="currId > -1 && row.id == currId" (click)="selectExpanded(row)">
                </tr>
                <tr mat-row *matRowDef="let element; columns: ['expandedElement']" class="detail-row">
            </table>
        </div>

        <app-controlled-paginator (controllerReady)="onPagingControllerReady($event)"></app-controlled-paginator>

    </div>
</div>