<div>
    <h3 class="mt-2 mb-3">Manage Tasks</h3>
</div>

<div class="mt-3 mb-5">
    <!-- searching parameters -->
    <div>
        <mat-form-field appearance="fill" style="width: 100%;">
            <mat-label>Job Name:</mat-label>
            <input matInput type="text" [(ngModel)]="searchParam.jobName">
            <button *ngIf="searchParam.jobName" matSuffix aria-label="Clear" (click)="searchParam.jobName=''"
                class="btn-close">
            </button>
        </mat-form-field>
        <mat-form-field appearance="fill" style="width: 100%;">
            <mat-label>App Group:</mat-label>
            <input matInput type="text" [(ngModel)]="searchParam.appGroup">
            <button *ngIf="searchParam.appGroup" matSuffix aria-label="Clear" (click)="searchParam.appGroup=''"
                class="btn-close">
            </button>
        </mat-form-field>
        <div class="align-items-center d-flex justify-content-between">
            <div>
                <mat-form-field appearance="fill">
                    <mat-label>Enabled</mat-label>
                    <mat-select [(value)]="searchParam.enabled">
                        <mat-option value="">ALL</mat-option>
                        <mat-option [value]="option.value" *ngFor="let option of TASKS_ENABLED_OPTS">
                            {{option.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <button mat-raised-button class="m-2" (click)="fetchTaskList()">Fetch</button>
        </div>
    </div>

    <!-- table -->
    <table mat-table [dataSource]="tasks" class="mat-elevation-z8 mb-4" style="width: 100%;" multiTemplateDataRows>
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> ID </th>
            <td mat-cell *matCellDef="let u"> {{u.id}} </td>
        </ng-container>
        <ng-container matColumnDef="jobName">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let u"> {{u.jobName}} </td>
        </ng-container>

        <ng-container matColumnDef="cronExpr">
            <th mat-header-cell *matHeaderCellDef> Cron </th>
            <td mat-cell *matCellDef="let u"> {{u.cronExpr}} </td>
        </ng-container>

        <ng-container matColumnDef="appGroup">
            <th mat-header-cell *matHeaderCellDef> App Group </th>
            <td mat-cell *matCellDef="let u"> {{u.appGroup}} </td>
        </ng-container>

        <ng-container matColumnDef="lastRunStartTime">
            <th mat-header-cell *matHeaderCellDef> Last Run Start Time </th>
            <td mat-cell *matCellDef="let u"> {{u.lastRunStartTime}} </td>
        </ng-container>

        <ng-container matColumnDef="lastRunEndTime">
            <th mat-header-cell *matHeaderCellDef> Last Run End Time </th>
            <td mat-cell *matCellDef="let u"> {{u.lastRunEndTime}} </td>
        </ng-container>

        <ng-container matColumnDef="lastRunBy">
            <th mat-header-cell *matHeaderCellDef> Last Run By </th>
            <td mat-cell *matCellDef="let u"> {{u.lastRunBy}} </td>
        </ng-container>

        <ng-container matColumnDef="lastRunResult">
            <th mat-header-cell *matHeaderCellDef> Last Run Result </th>
            <td mat-cell *matCellDef="let u"> {{u.lastRunResult}} </td>
        </ng-container>

        <ng-container matColumnDef="enabled">
            <th mat-header-cell *matHeaderCellDef> Enabled </th>
            <td mat-cell *matCellDef="let u">
                <span *ngIf="u.enabled == TASK_ENABLED" class="status-green">enabled</span>
                <span *ngIf="u.enabled == TASK_DISABLED" class="status-red">disabled</span>
            </td>
        </ng-container>

        <ng-container matColumnDef="concurrentEnabled">
            <th mat-header-cell *matHeaderCellDef> Concurrency </th>
            <td mat-cell *matCellDef="let u">
                <span *ngIf="u.concurrentEnabled == CONCURRENT_ENABLED" class="status-green">enabled</span>
                <span *ngIf="u.concurrentEnabled == CONCURRENT_DISABLED" class="status-red">disabled</span>
            </td>
        </ng-container>

        <ng-container matColumnDef="updateDate">
            <th mat-header-cell *matHeaderCellDef> Update Date </th>
            <td mat-cell *matCellDef="let u">
                {{ u.updateDate}}
            </td>
        </ng-container>

        <ng-container matColumnDef="updateBy">
            <th mat-header-cell *matHeaderCellDef> Update By </th>
            <td mat-cell *matCellDef="let u">
                {{ u.updateBy }}
            </td>
        </ng-container>

        <ng-container matColumnDef="expandedElement">
            <td mat-cell *matCellDef="let u" [attr.colspan]="COLUMNS_TO_BE_DISPLAYED.length">
                <div class="element-detail" [@detailExpand]="idEquals(u, expandedElement) ? 'expanded' : 'collapsed'">
                    <div *ngIf="expandedElement != null">
                        <div class="row row-cols-lg-auto g-3 align-items-center ">

                            <div class="col-12">
                                <mat-form-field appearance="fill">
                                    <mat-label>Name:</mat-label>
                                    <input matInput type="text" [(ngModel)]="expandedElement.jobName">
                                    <button *ngIf="expandedElement.jobName" matSuffix aria-label="Clear"
                                        (click)="expandedElement.jobName=''" class="btn-close">
                                    </button>
                                </mat-form-field>
                            </div>

                            <div class="col-12">
                                <mat-form-field appearance="fill">
                                    <mat-label>Cron:</mat-label>
                                    <input matInput type="text" [(ngModel)]="expandedElement.cronExpr">
                                    <button *ngIf="expandedElement.cronExpr" matSuffix aria-label="Clear"
                                        (click)="expandedElement.cronExpr=''" class="btn-close">
                                    </button>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="row row-cols-lg-auto g-3 align-items-center ">
                            <div class="col-12">
                                <mat-form-field appearance="fill">
                                    <mat-label>Enabled</mat-label>
                                    <mat-select [(value)]="expandedElement.enabled">
                                        <mat-option [value]="option.value" *ngFor="let option of TASKS_ENABLED_OPTS">
                                            {{option.name}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                            <div class="col-12">
                                <mat-form-field appearance="fill">
                                    <mat-label>Concurrency</mat-label>
                                    <mat-select [(value)]="expandedElement.concurrentEnabled">
                                        <mat-option [value]="option.value"
                                            *ngFor="let option of TASKS_CONCURRENT_ENABLED_OPTS">
                                            {{option.name}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                            <div class="col-12">
                                <button mat-raised-button (click)="update(expandedElement)">
                                    Update
                                </button>
                            </div>

                            <div class="col-12">
                                <button mat-raised-button (click)="triggerTask(expandedElement)">
                                    Trigger
                                </button>
                            </div>

                            <div class="col-12">
                                <button mat-raised-button (click)="viewHistory(expandedElement)">
                                    History
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="COLUMNS_TO_BE_DISPLAYED"></tr>
        <tr mat-row *matRowDef="let row; columns: COLUMNS_TO_BE_DISPLAYED;" class="element-row"
            [class.expanded-row]="idEquals(row, expandedElement)" (click)="setExpandedElement(row)"
            matTooltip="Click to expand"></tr>

        <tr mat-row *matRowDef="let element; columns: ['expandedElement'];" class="detail-row">
        </tr>
    </table>

</div>

<!-- paginator -->
<mat-paginator [length]="pagingController.paging.total" [pageSize]="pagingController.paging.limit"
    [pageSizeOptions]="pagingController.PAGE_LIMIT_OPTIONS" (page)="handle($event)" aria-label="Select page">
</mat-paginator>