/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 15px;
}

@media only screen and (min-width: 801px) {
  html {
    font-size: 0.7rem;
  }
}

@media only screen and (max-width: 800px) {
  html {
    font-size: 0.5rem;
  }
  .mat-raised-button,
  mat-form-field,
  mat-label,
  mat-table,
  .mat-header-cell,
  .mat-cell {
    font-size: 1rem;
  }
}

.status-green {
  color: green;
}

.status-blue {
  color: #2687bf;
}

.status-red {
  color: red;
}

td,
th {
  white-space: normal;
  word-wrap: break-word;
  max-width: 200px;
}
