<ng-container *ngIf="userInfo">
    <button mat-button [matMenuTriggerFor]="menu">menu</button>

    <mat-menu #menu="matMenu">
        <button mat-menu-item [matMenuTriggerFor]="admin" *ngIf="hasAnyRes('manage-users', 'manage-resources', 'access-logs', 'operate-logs', 'manage-logbot')">Admin</button>
        <button mat-menu-item [matMenuTriggerFor]="user">User</button>
        <button mat-menu-item [matMenuTriggerFor]="file" *ngIf="hasRes('manage-files')">File & Gallery</button>
        <button mat-menu-item [matMenuTriggerFor]="task" *ngIf="hasRes('manage-tasks')">Task</button>
    </mat-menu>

    <mat-menu #user="matMenu">
        <button mat-menu-item routerLink="/user-details" routerLinkActive="active">User Details</button>
        <button mat-menu-item routerLink="/manage-keys" routerLinkActive="active" *ngIf="hasRes('basic-user')">Manage Keys</button>
    </mat-menu>

    <mat-menu #admin="matMenu">
        <button mat-menu-item routerLink="/manage-user" routerLinkActive="active" *ngIf="hasRes('manage-users')">Manage Users</button>
        <button mat-menu-item routerLink="/manage-roles" routerLinkActive="active" *ngIf="hasRes('manage-resources')">Manage Roles</button>
        <button mat-menu-item routerLink="/manage-paths" routerLinkActive="active" *ngIf="hasRes('manage-resources')">Manage Paths</button>
        <button mat-menu-item routerLink="/manage-resources" routerLinkActive="active" *ngIf="hasRes('manage-resources')">Manage Resources</button>
        <button mat-menu-item routerLink="/access-log" routerLinkActive="active" *ngIf="hasRes('access-logs')">Access History</button>
        <!-- <button mat-menu-item routerLink="/operate-history" routerLinkActive="active" *ngIf="hasRes('operate-logs')">Operate History</button> -->
        <button mat-menu-item routerLink="/manage-logs" routerLinkActive="active" *ngIf="hasRes('manage-logbot')">System Error Logs</button>
    </mat-menu>

    <mat-menu #file="matMenu">
        <button mat-menu-item routerLink="/manage-files" routerLinkActive="active">Manage Files</button>
        <button mat-menu-item routerLink="/gallery" routerLinkActive="active">Fantahsea Gallery</button>
        <button mat-menu-item routerLink="/folders" routerLinkActive="active">Virtual Folders</button>
    </mat-menu>

    <mat-menu #task="matMenu">
        <button mat-menu-item routerLink="/manage-task" routerLinkActive="active">Manage Tasks</button>
        <button mat-menu-item routerLink="/task-history" routerLinkActive="active">Task History</button>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="userMenu">{{userInfo.username}}</button>
    <mat-menu #userMenu="matMenu" class="m-2">
        <button mat-menu-item (click)="copyToClipboard(userInfo.userNo)">Role: {{userInfo.roleName}}</button>
        <button mat-menu-item (click)="copyToClipboard(userInfo.userNo)">User No: {{userInfo.userNo}}</button>
    </mat-menu>

    <button mat-button (click)="changeLang()">{{i18n('lang')}}: {{i18n(lang)}}</button>
    <button mat-button (click)="logout()">{{i18n('logout')}}</button>
</ng-container>