<h1 mat-dialog-title>{{i18n('file:tags:mng')}} '{{data.filename}}'</h1>
<div mat-dialog-content>
    <form class="mb-2">
        <p>{{i18n('file:tags:tip')}}</p>
        <mat-form-field style="width: 100%;">
            <mat-label>{{i18n('file:tag:new')}}</mat-label>
            <input matInput type="text" [(ngModel)]="tagName" (ngModelChange)="onTagNameChanged()"
                [matAutocomplete]="auto" [ngModelOptions]="{standalone: true}">
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let option of filtered" [value]="option">
                    {{option}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
        <div class=" d-flex justify-content-md-end">
            <button mat-button (click)="tagFile()">{{i18n('submit')}}</button>
        </div>
    </form>

    <ng-container>
        <h6 class="mb-3">{{i18n('file:own:tags')}}</h6>

        <table mat-table [dataSource]="tags" class="mat-elevation-z8 mb-4" style="width: 100%;" multiTemplateDataRows>
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> Id </th>
                <td mat-cell *matCellDef="let t"> {{t.id}} </td>
            </ng-container>
            <ng-container matColumnDef="tagName">
                <th mat-header-cell *matHeaderCellDef> {{i18n('name')}} </th>
                <td mat-cell *matCellDef="let t"> {{t.name}} </td>
            </ng-container>
            <ng-container matColumnDef="createTime">
                <th mat-header-cell *matHeaderCellDef> {{i18n('create:time')}} </th>
                <td mat-cell *matCellDef="let t"> {{t.createTime}} </td>
            </ng-container>
            <ng-container matColumnDef="createBy">
                <th mat-header-cell *matHeaderCellDef> {{i18n('create:by')}} </th>
                <td mat-cell *matCellDef="let t"> {{t.createBy}} </td>
            </ng-container>
            <ng-container matColumnDef="removeButton">
                <th mat-header-cell *matHeaderCellDef> {{i18n('operation')}} </th>
                <td mat-cell *matCellDef="let t">
                    <button mat-raised-button (click)="untag(t.name)">
                        {{i18n('remove')}}
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="COLUMN_TO_BE_DISPLAYED"></tr>
            <tr mat-row *matRowDef="let row; columns: COLUMN_TO_BE_DISPLAYED;" class="element-row">
            </tr>
        </table>

        <app-controlled-paginator (controllerReady)="onPagingControllerReady($event)"></app-controlled-paginator>
    </ng-container>
</div>

<div mat-dialog-actions>
    <button mat-button [mat-dialog-close]="false" cdkFocusInitial>Close</button>
</div>