<div *ngIf="!inFolderNo && expandUploadPanel" class="container-fluid bootstrap p-3 shadow rounded mt-3 border">

    <h4 class="mt-3 mb-3">{{i18n('title:upload')}}</h4>

    <!-- upload param start -->
    <ng-container *ngIf="uploadParam.files != null && uploadParam.files.length > 0">
        <mat-form-field style="width: 100%;" class="mt-1 mb-1">
            <mat-label>{{i18n('filename')}}</mat-label>
            <input matInput type="text" id="filenameInput" [(ngModel)]="displayedUploadName"
                [disabled]="isFileNameInputDisabled()">
            <button *ngIf="displayedUploadName" matSuffix aria-label="Clear" (click)="displayedUploadName=''"
                class="btn-close" [disabled]="isFileNameInputDisabled()">
            </button>
        </mat-form-field>
    </ng-container>

    <div class="input-group input-group-lg mt-1 mb-1">
        <input type="file" class="form-control" #uploadFileInput (change)="onFileSelected($event.target.files)"
            aria-describedby="basic-addon1" multiple [disabled]="isUploading">
    </div>

    <div class="mt-3 mb-2">
        <div class="row row-cols-lg-auto g-3 align-items-center">
            <div class="col">
                <mat-form-field>
                    <mat-label>{{i18n("withTags")}}:</mat-label>
                    <mat-select [(value)]="selectedTags" [disabled]="isUploading" multiple>
                        <mat-option [value]="t" *ngFor="let t of tags">
                            {{t}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="col">
                <button class="ml-2 mr-2" mat-raised-button (click)="upload()" [disabled]="isUploading"
                    *ngIf="!isUploading">
                    {{i18n("upload")}}
                </button>
                <button class="ml-2 mr-2" *ngIf="isUploading" mat-raised-button (click)="cancelFileUpload()">
                    {{i18n("cancel")}}
                </button>
            </div>
            <div class="col">
                <section *ngIf="this.uploadParam.files && this.uploadParam.files.length > 0">
                    <mat-checkbox class="m-1" [disabled]="isUploading" [(ngModel)]="ignoreOnDupName">
                        {{i18n("ignoreOnDupName")}}
                    </mat-checkbox>
                </section>
            </div>
            <div class="col">
                <small style="color: cadetblue;" *ngIf="progress != null">{{i18n('progress')}}:
                    {{progress}}</small>
            </div>
        </div>
    </div>
    <!-- upload param end -->
</div>


<div class="mt-3">
    <div class="mt-2 mb-2">
        <div *ngIf="inFolderName" class="m-2">
            <mat-card>{{i18n('virtualFolder')}}: '{{inFolderName}}'</mat-card>
        </div>
        <div *ngIf="inDirFileName" class="m-2">
            <mat-card>
                {{i18n('directory')}}: '{{inDirFileName}}'
            </mat-card>
        </div>

        <!-- search param start -->
        <div *ngIf="!inFolderNo && !makingDir && !expandUploadPanel">
            <div class="row row-cols-lg-auto g-3 align-items-center">
                <mat-form-field style="width: 90%;" class="mb-1 mt-3">
                    <mat-label>{{i18n("filename")}}</mat-label>
                    <input matInput type="text" id="searchFilenameInput" [(ngModel)]="searchParam.name"
                        (keyup)="isEnterKeyPressed($event) && fetchFileInfoList()">
                    <button *ngIf="searchParam.name" matSuffix aria-label="Clear" (click)="searchParam.name=''"
                        class="btn-close">
                    </button>
                </mat-form-field>
            </div>
            <div class="row row-cols-lg-auto g-3 align-items-center">
                <div class="col">
                    <mat-form-field>
                        <mat-label>{{i18n('fileType')}}</mat-label>
                        <mat-select (valueChange)="setSearchFileType($event)" [value]="searchParam.fileType">
                            <mat-option [value]="option.value" *ngFor="let option of allFileTypeOpts">
                                {{option.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field>
                        <mat-label>{{i18n('tags')}}</mat-label>
                        <mat-select (valueChange)="setTag($event)" [value]="searchParam.tagName">
                            <mat-option [value]="t" *ngFor="let t of tags">
                                {{t}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <!-- search param ned -->

        <!-- create directory  -->
        <div class="container-fluid bootstrap p-3 mt-3 shadow rounded border" *ngIf="makingDir">
            <h4 class="mt-2 mb-2">{{i18n('newDir')}}</h4>

            <mat-form-field style="width: 100%;">
                <mat-label>{{i18n('dirName')}}</mat-label>
                <input matInput type="text" (keyup)="isEnterKeyPressed($event) && mkdir()" [(ngModel)]="newDirName">
                <button *ngIf="newDirName" class="btn-close" matSuffix aria-label="Clear" (click)="newDirName=''"></button>
            </mat-form-field>

            <div class="justify-content-md-end d-md-flex">
                <button mat-raised-button class="mt-2" (click)="mkdir()">Submit</button>
            </div>
        </div>

        <div class="d-grid gap-2 d-md-flex justify-content-md-end mb-3">

            <ng-container *ngIf="!inFolderName && anySelected">

                <button mat-raised-button class="m-2" *ngIf="anySelected" (click)="transferSelectedToGallery()">Add To Gallery</button>
                <button mat-raised-button class="m-2" (click)="addToVirtualFolder()">Add To Folder</button>
                <button mat-raised-button class="m-2" (click)="deleteSelected()"> Delete </button>
                <button mat-raised-button class="m-2" *ngIf="!inDirFileName" (click)="moveSelectedToDir(true)">Move Into Directory</button>
                <button mat-raised-button class="m-2" *ngIf="inDirFileName" (click)="moveSelectedToDir(false)">Move Out Of Directory</button>
            </ng-container>


            <ng-container *ngIf="!inFolderNo && !anySelected">
                <button mat-raised-button class="m-2" [class.status-green]="expandUploadPanel" (click)="toggleUploadPanel()">Upload Panal</button>
                <button mat-raised-button class="m-2" (click)="toggleMkdirPanel()" [class.status-green]="makingDir">Make Directory</button>
            </ng-container>

            <button mat-raised-button class="m-2" *ngIf="inDirFileKey" (click)="goPrevDir()">Go Back</button>
            <button mat-raised-button class="m-2" *ngIf="inFolderNo" (click)="leaveFolder()">Go Back</button>

            <button mat-raised-button class="m-2" (click)="fetchFileInfoList()">Fetch</button>
            <button mat-raised-button class="m-2" (click)="resetSearchParam()">Reset</button>
        </div>

        <!-- <div style="overflow: auto; max-height: 550px;" class="mat-elevation-z8 mb-2"> -->
        <div style="overflow: auto; max-height: 550px;" class="mb-2">
            <table mat-table [dataSource]="fileInfoList" style="width: 100%; height: 70%" multiTemplateDataRows>
                <ng-container matColumnDef="selected">
                    <th mat-header-cell *matHeaderCellDef> <span (click)="selectAll()" [matTooltip]="'Select records for more operations'"
                        ><b>{{anySelected ?
                            'Selected' + " (" + selectedCount + ")": 'Selected'}}</b></span>
                    </th>
                    <td mat-cell *matCellDef="let f">
                        <mat-checkbox [checked]="f._selected" (change)="selectFile($event, f)"
                            (click)="$event.stopPropagation();"></mat-checkbox>
                    </td>
                </ng-container>

                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> <b>Name</b> </th>
                    <td mat-cell *matCellDef="let f"> <span class="pl-1 pr-1">{{f.name}}
                        </span></td>
                </ng-container>

                <ng-container matColumnDef="parentFileName">
                    <th mat-header-cell *matHeaderCellDef [matTooltip]="'Name of directory that each file belongs to'"> <b>In Directory</b> </th>
                    <td mat-cell *matCellDef="let f"> <span class="pl-1 pr-1">{{f.parentFileName}}
                        </span></td>
                </ng-container>

                <ng-container matColumnDef="uploader">
                    <th mat-header-cell *matHeaderCellDef> <b>Uploader</b></th>
                    <td mat-cell *matCellDef="let f"> {{f.uploaderName}} </td>
                </ng-container>

                <ng-container matColumnDef="uploadTime">
                    <th mat-header-cell *matHeaderCellDef> <b>Upload Time</b> </th>
                    <td mat-cell *matCellDef="let f"> {{f.uploadTime | date: 'yyyy-MM-dd HH:mm:ss'}} </td>
                </ng-container>

                <ng-container matColumnDef="size">
                    <th mat-header-cell *matHeaderCellDef> <b>Size</b></th>
                    <td mat-cell *matCellDef="let f"> {{f.sizeLabel}} </td>
                </ng-container>

                <ng-container matColumnDef="fileType">
                    <th mat-header-cell *matHeaderCellDef [matTooltip]="'File or directory that contains more files'"> <b>Type</b> </th>
                    <td mat-cell *matCellDef="let f">
                        <ng-container *ngIf="f.isDir"><b><i>{{f.fileTypeLabel}}</i></b></ng-container>
                        <ng-container *ngIf="!f.isDir">{{f.fileTypeLabel}}</ng-container>
                    </td>
                </ng-container>

                <ng-container matColumnDef="updateTime">
                    <th mat-header-cell *matHeaderCellDef> <b>Update Time</b> </th>
                    <td mat-cell *matCellDef="let f"> {{f.updateTime | date: 'yyyy-MM-dd HH:mm:ss'}} </td>
                </ng-container>


                <ng-container matColumnDef="operation">
                    <th mat-header-cell *matHeaderCellDef> <b>Operation</b> </th>
                    <td mat-cell *matCellDef="let f">
                        <button class="small-btn m-2" mat-raised-button (click)="$event.stopPropagation() || selectExpanded(f)">Edit</button>
                        <ng-container *ngIf="f.isFile">
                            <button class="small-btn m-2" mat-raised-button (click)="$event.stopPropagation() || jumpToDownloadUrl(f.uuid)">Download</button>
                        </ng-container>
                    </td>
                </ng-container>

                <ng-container matColumnDef="expandedElement">
                    <td mat-cell *matCellDef="let u" [attr.colspan]="displayedColumns.length">
                        <ng-container *ngIf="curr != null && !inFolderNo">
                            <div class="element-detail"
                                [@detailExpand]="(currId > -1 && u.id == currId) ? 'expanded' : 'collapsed'">
                                <div class="container-fluid m-4">
                                    <div class="row row-cols-lg-auto g-3 align-items-center">
                                        <div class="col">
                                            <mat-form-field style="width: 100%;">
                                                <mat-label>{{i18n('filename')}}</mat-label>
                                                <input matInput type="text" [(ngModel)]="curr.name">
                                            </mat-form-field>
                                        </div>

                                        <ng-container *ngIf="curr.isDir">
                                            <div class="col">
                                                <button mat-raised-button (click)="update(curr)"> Update </button>
                                            </div>
                                        </ng-container>

                                        <ng-container *ngIf="curr.isFile">
                                            <div class="col">
                                                <button mat-raised-button (click)="update(curr)"> Update </button>
                                            </div>
                                            <div class="col">
                                                <button mat-raised-button (click)="generateTempToken(curr)"> Share By Link </button>
                                            </div>
                                            <div class="col">
                                                <button mat-raised-button (click)="popToManageTag(curr)">Tags</button>
                                            </div>
                                        </ng-container>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true">
                </tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns" class="element-row"
                    [class.expanded-row]="currId > -1 && row.id == currId" (click)="onRowClicked(row)">
                </tr>
                <tr mat-row *matRowDef="let element; columns: ['expandedElement']" class="detail-row">
            </table>
        </div>

        <app-controlled-paginator (controllerReady)="onPagingControllerReady($event)"></app-controlled-paginator>

    </div>
</div>