<div *ngIf="!inFolderNo && expandUploadPanel" class="container-fluid bootstrap p-3 shadow rounded mt-3 border">

    <h4 class="mt-3 mb-3">{{i18n('title:upload')}}</h4>

    <!-- upload param start -->
    <ng-container *ngIf="uploadParam.files != null && uploadParam.files.length > 0">
        <mat-form-field style="width: 100%;" class="mt-1 mb-1">
            <mat-label>{{i18n('filename')}}</mat-label>
            <input matInput type="text" id="filenameInput" [(ngModel)]="displayedUploadName"
                [disabled]="isFileNameInputDisabled()">
            <button *ngIf="displayedUploadName" matSuffix aria-label="Clear" (click)="displayedUploadName=''"
                class="btn-close" [disabled]="isFileNameInputDisabled()">
            </button>
        </mat-form-field>
    </ng-container>

    <div class="input-group input-group-lg mt-1 mb-1">
        <input type="file" class="form-control" #uploadFileInput (change)="onFileSelected($event.target.files)"
            aria-describedby="basic-addon1" multiple [disabled]="isUploading">
    </div>

    <div class="mt-3 mb-2">
        <div class="row row-cols-lg-auto g-3 align-items-center">
            <div class="col">
                <mat-form-field>
                    <mat-label>{{i18n("withTags")}}:</mat-label>
                    <mat-select [(value)]="selectedTags" [disabled]="isUploading" multiple>
                        <mat-option [value]="t" *ngFor="let t of tags">
                            {{t}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="col">
                <mat-form-field class="mb-1">
                    <mat-label>{{i18n("uploadToDirectory")}}:</mat-label>
                    <input matInput type="text" [(ngModel)]="uploadDirName" (ngModelChange)="onUploadDirNameChanged()"
                        [matAutocomplete]="auto0" [disabled]="isUploading || inDirFileName">
                    <mat-autocomplete #auto0="matAutocomplete">
                        <mat-option *ngFor="let option of autoCompUploadDirs" [value]="option">
                            {{option}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>

            <div class="col">
                <button class="ml-2 mr-2" mat-raised-button (click)="upload()" [disabled]="isUploading"
                    *ngIf="!isUploading">
                    {{i18n("upload")}}
                </button>
                <button class="ml-2 mr-2" *ngIf="isUploading" mat-raised-button (click)="cancelFileUpload()">
                    {{i18n("cancel")}}
                </button>
            </div>
            <div class="col">
                <section *ngIf="this.uploadParam.files && this.uploadParam.files.length > 0">
                    <mat-checkbox class="m-1" [disabled]="isUploading" [(ngModel)]="ignoreOnDupName">
                        {{i18n("ignoreOnDupName")}}
                    </mat-checkbox>
                </section>
            </div>
            <div class="col">
                <small style="color: cadetblue;" *ngIf="progress != null">{{i18n('progress')}}:
                    {{progress}}</small>
            </div>
        </div>
    </div>
    <!-- upload param end -->
</div>


<div class="mt-3">
    <div class="mt-2 mb-2">
        <div *ngIf="inFolderName" class="m-2">
            <mat-card>{{i18n('virtualFolder')}}: '{{inFolderName}}'</mat-card>
        </div>
        <div *ngIf="inDirFileName" class="m-2">
            <mat-card>
                {{i18n('directory')}}: '{{inDirFileName}}'
            </mat-card>
        </div>

        <!-- search param start -->
        <div *ngIf="!inFolderNo && !makingDir && !expandUploadPanel">
            <div class="row row-cols-lg-auto g-3 align-items-center">
                <mat-form-field style="width: 90%;" class="mb-1 mt-3">
                    <mat-label>{{i18n("filename")}}</mat-label>
                    <input matInput type="text" id="searchFilenameInput" [(ngModel)]="searchParam.name"
                        (keyup)="isEnterKeyPressed($event) && fetchFileInfoList()">
                    <button *ngIf="searchParam.name" matSuffix aria-label="Clear" (click)="searchParam.name=''"
                        class="btn-close">
                    </button>
                </mat-form-field>
            </div>
            <div class="row row-cols-lg-auto g-3 align-items-center">
                <div class="col">
                    <mat-form-field>
                        <mat-label>{{i18n('fileType')}}</mat-label>
                        <mat-select (valueChange)="setSearchFileType($event)" [value]="searchParam.fileType">
                            <mat-option [value]="option.value" *ngFor="let option of allFileTypeOpts">
                                {{option.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field>
                        <mat-label>{{i18n('tags')}}</mat-label>
                        <mat-select (valueChange)="setTag($event)" [value]="searchParam.tagName">
                            <mat-option [value]="t" *ngFor="let t of tags">
                                {{t}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field>
                        <mat-label>{{i18n('addToFantahseaGallery')}}</mat-label>
                        <input matInput type="text" [(ngModel)]="addToGalleryName"
                            (ngModelChange)="onAddToGalleryNameChanged()" [matAutocomplete]="auto2">
                        <mat-autocomplete #auto2="matAutocomplete">
                            <mat-option *ngFor="let option of autoCompAddToGalleryName" [value]="option">
                                {{option}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>

                <div class="col">
                    <mat-form-field>
                        <mat-label>{{i18n("virtualFolder")}}</mat-label>
                        <input matInput type="text" [(ngModel)]="addToVFolderName"
                            (ngModelChange)="onAddToVFolderNameChanged()" [matAutocomplete]="auto1">
                        <mat-autocomplete #auto1="matAutocomplete">
                            <mat-option *ngFor="let option of autoCompAddToVFolderName" [value]="option">
                                {{option}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>

                <div class="col">
                    <mat-form-field style="width: 100%;" class="mb-1" *ngIf="!isMobile">
                        <mat-label>{{i18n('dir')}}</mat-label>
                        <input matInput type="text" [(ngModel)]="moveIntoDirName"
                            (ngModelChange)="onMoveIntoDirNameChanged()" [matAutocomplete]="auto1">
                        <mat-autocomplete #auto1="matAutocomplete">
                            <mat-option *ngFor="let option of autoCompMoveIntoDirs" [value]="option">
                                {{option}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <!-- search param ned -->


        <!-- create directory  -->
        <div class="container-fluid bootstrap p-3 mt-3 shadow rounded border" *ngIf="makingDir">
            <h4 class="mt-2 mb-2">{{i18n('newDir')}}</h4>

            <mat-form-field style="width: 100%;">
                <mat-label>{{i18n('dirName')}}</mat-label>
                <input matInput type="text" (keyup)="isEnterKeyPressed($event) && mkdir()" [(ngModel)]="newDirName">
                <button *ngIf="newDirName" class="btn-close" matSuffix aria-label="Clear" (click)="newDirName=''">
                </button>
            </mat-form-field>

            <div class="justify-content-md-end d-md-flex">
                <button mat-raised-button class="mt-2" (click)="mkdir()">{{i18n('submit')}}</button>
            </div>
        </div>

        <div class="d-grid gap-2 d-md-flex justify-content-md-end mb-3">

            <ng-container *ngIf="!inFolderName && anySelected">

                <!-- transfer selected to fantahsea -->
                <button mat-raised-button class="m-2" *ngIf="anySelected"
                    (click)="transferSelectedToGallery()">{{i18n('hostOnFantahsea')}}</button>

                <!-- add to vfolder -->
                <button mat-raised-button class="m-2" (click)="addToVirtualFolder()">{{i18n('addToVFolder')}}</button>

                <!-- move into dir -->
                <button mat-raised-button class="m-2" (click)="moveSelectedToDir(true)">{{i18n('moveIntoDir')}}</button>

                <!-- move out of dir -->
                <button mat-raised-button class="m-2" *ngIf="inDirFileName"
                    (click)="moveSelectedToDir(false)">{{i18n('moveOutOfDir')}}</button>
            </ng-container>


            <ng-container *ngIf="!inFolderNo && !anySelected">
                <!-- toggale upload panel -->
                <button mat-raised-button class="m-2" [class.status-green]="expandUploadPanel"
                    (click)="toggleUploadPanel()">{{i18n('uploadPanel')}}</button>

                <!-- make directory -->
                <button mat-raised-button class="m-2" (click)="toggleMkdirPanel()"
                    [class.status-green]="makingDir">{{i18n('makeDirectory')}}</button>
            </ng-container>


            <!-- TODO: not supported anymore -->
            <!-- export as zip -->
            <!-- <button mat-raised-button class="m-2" *ngIf="anySelected"
                (click)="exportAsZip()">{{i18n('exportAsZip')}}</button> -->

            <!-- go back to previous dir -->
            <button mat-raised-button class="m-2" *ngIf="inDirFileKey"
                (click)="goPrevDir()">{{i18n('goPrevDir')}}</button>
            <!-- go back to folder list page -->
            <button mat-raised-button class="m-2" *ngIf="inFolderNo"
                (click)="leaveFolder()">{{i18n('leaveFolder')}}</button>

            <!-- Fetch  -->
            <button mat-raised-button class="m-2" (click)="fetchFileInfoList()">{{i18n('fetch')}}</button>
            <!-- Reset  -->
            <button mat-raised-button class="m-2" (click)="resetSearchParam()">{{i18n('reset')}}</button>
        </div>

        <!-- <div style="overflow: auto; max-height: 550px;" class="mat-elevation-z8 mb-2"> -->
        <div style="overflow: auto; max-height: 550px;" class="mb-2">
            <table mat-table [dataSource]="fileInfoList" style="width: 100%; height: 70%" multiTemplateDataRows>
                <ng-container matColumnDef="selected">
                    <th mat-header-cell *matHeaderCellDef> <span (click)="selectAll()">{{anySelected ?
                            i18n('selected') + " (" + selectedCount + ")": i18n('selected')}}</span>
                    </th>
                    <td mat-cell *matCellDef="let f">
                        <mat-checkbox [checked]="f._selected" (change)="selectFile($event, f)"
                            (click)="$event.stopPropagation();"></mat-checkbox>
                    </td>
                </ng-container>

                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> {{i18n('name')}} </th>
                    <td mat-cell *matCellDef="let f"> <span class="pl-1 pr-1">{{f.name}}
                        </span></td>
                </ng-container>

                <ng-container matColumnDef="parentFileName">
                    <th mat-header-cell *matHeaderCellDef> {{i18n('parentFileName')}} </th>
                    <td mat-cell *matCellDef="let f"> <span class="pl-1 pr-1">{{f.parentFileName}}
                        </span></td>
                </ng-container>

                <ng-container matColumnDef="uploader">
                    <th mat-header-cell *matHeaderCellDef> {{i18n('uploader')}} </th>
                    <td mat-cell *matCellDef="let f"> {{f.uploaderName}} </td>
                </ng-container>

                <ng-container matColumnDef="uploadTime">
                    <th mat-header-cell *matHeaderCellDef> {{i18n('uploadTime')}} </th>
                    <td mat-cell *matCellDef="let f"> {{f.uploadTime | date: 'yyyy-MM-dd HH:mm:ss'}} </td>
                </ng-container>

                <ng-container matColumnDef="size">
                    <th mat-header-cell *matHeaderCellDef> {{i18n('fileSize')}} </th>
                    <td mat-cell *matCellDef="let f"> {{f.sizeLabel}} </td>
                </ng-container>

                <ng-container matColumnDef="fileType">
                    <th mat-header-cell *matHeaderCellDef> {{i18n("fileType")}} </th>
                    <td mat-cell *matCellDef="let f"> {{f.fileTypeLabel}} </td>
                </ng-container>

                <ng-container matColumnDef="updateTime">
                    <th mat-header-cell *matHeaderCellDef> {{i18n("updateTime")}} </th>
                    <td mat-cell *matCellDef="let f"> {{f.updateTime | date: 'yyyy-MM-dd HH:mm:ss'}} </td>
                </ng-container>


                <ng-container matColumnDef="operation">
                    <th mat-header-cell *matHeaderCellDef> {{i18n("operation")}} </th>
                    <td mat-cell *matCellDef="let f">
                        <!-- download / preview -->
                        <ng-container *ngIf="f.isFile">
                            <button class="small-btn m-2" mat-raised-button (click)="$event.stopPropagation() || jumpToDownloadUrl(f.uuid)">{{i18n('download')}}</button>
                            <ng-container *ngIf="f.isDisplayable">
                                <button class="small-btn" mat-raised-button (click)="$event.stopPropagation() || preview(f)">{{i18n('preview')}}</button>
                            </ng-container>
                        </ng-container>
                        <!-- Go into dir  -->
                        <ng-container *ngIf="f.isDir">
                            <button class="small-btn" mat-raised-button (click)="$event.stopPropagation() || goToDir(f.name, f.uuid)">{{i18n('goInto')}}</button>
                        </ng-container>
                    </td>
                </ng-container>

                <ng-container matColumnDef="expandedElement">
                    <td mat-cell *matCellDef="let u" [attr.colspan]="displayedColumns.length">
                        <ng-container *ngIf="curr != null && !inFolderNo">
                            <div class="element-detail"
                                [@detailExpand]="(currId > -1 && u.id == currId) ? 'expanded' : 'collapsed'">
                                <div class="container-fluid m-4">

                                    <!-- first row start -->
                                    <div class="row row-cols-lg-auto g-3 align-items-center">
                                        <div class="col">
                                            <mat-form-field style="width: 100%;">
                                                <mat-label>{{i18n('filename')}}</mat-label>
                                                <input matInput type="text" [(ngModel)]="curr.name">
                                            </mat-form-field>
                                        </div>
                                        <ng-container *ngIf="curr.isFile">
                                            <div class="col">
                                                <button mat-raised-button (click)="popToManageTag(curr)">
                                                    {{i18n('manageTagBtn')}}
                                                </button>
                                            </div>
                                        </ng-container>

                                        <!-- duplicate Update button is just for the ordering positions -->
                                        <ng-container *ngIf="curr.isDir">
                                            <div class="col">
                                                <button mat-raised-button (click)="update(curr)">
                                                    {{i18n('updateBtn')}}
                                                </button>
                                            </div>
                                        </ng-container>

                                        <ng-container>
                                            <div class="col">
                                                <button mat-raised-button (click)="deleteFile(curr.uuid, curr.name)">
                                                    {{i18n('deleteBtn')}}
                                                </button>
                                            </div>
                                        </ng-container>
                                    </div>
                                    <!-- first row end -->

                                    <!-- second row start -->
                                    <div class="row row-cols-lg-auto g-3 align-items-center">
                                        <!-- isFile start -->
                                        <ng-container *ngIf="curr.isFile">
                                            <div class="col">
                                                <button mat-raised-button (click)="update(curr)">
                                                    {{i18n('updateBtn')}}
                                                </button>
                                            </div>
                                            <div class="col">
                                                <button mat-raised-button (click)="generateTempToken(curr)">
                                                    {{i18n('shareByLinkBtn')}}
                                                </button>
                                            </div>
                                        </ng-container>
                                        <!-- isOwner and isFile end -->
                                    </div>
                                    <!-- second row end -->
                                </div>
                            </div>
                        </ng-container>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true">
                </tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns" class="element-row"
                    [class.expanded-row]="currId > -1 && row.id == currId" (click)="selectExpanded(row)">
                </tr>
                <tr mat-row *matRowDef="let element; columns: ['expandedElement']" class="detail-row">
            </table>
        </div>

        <app-controlled-paginator (controllerReady)="onPagingControllerReady($event)"></app-controlled-paginator>

    </div>
</div>